.infoRow {
	max-width: 80%;
	margin: 15px auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.btnRow {
	max-width: 70%;
	margin: 0 auto;
	padding: 15px 0;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

button {
	margin: 0 20px;
	height: 45px;
	width: 140px;
	font-size: 18px;
	border: 1px solid black;
	border-radius: 4px;
}

button:hover {
	background-color: lightskyblue;
}

button:active {
	background-color: lightseagreen;
}